body{
    background-color: aquamarine;
}
#centerbox{
    margin-left:100px;
}
#centerbox2{
    margin-right:100px;
}
#shareresult{
    text-align: left;
    margin-top:250px;
}
.phone{
    text-align: center;
}
.ccolor{
   background-color: azure;
}